@media only screen and (max-width: 900px) {

    #container {
        display: flex;
        flex-direction: column;
        height: 100vh;
        border-right: none;
    }


    #nav-container {
        min-height: 400px;
        height: 600px;
        max-height: 800px;
        width: 100%;
        background-color: #3B3E98;
        
    }

    /* #nav-container{
        height: 500px;
    } */

    #resultaat-container {
        width: 100%;
        height: 400px;
        /* display: none; */
    }

    #titel-container {
        margin-top: 25px;
    }

    .eenheid_button{
        margin-bottom: 20px;
    }


}